[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
opencv-python = "*"
ImageHash = "*"
python-magic = "*"
fuzzywuzzy = "*"
python-Levenshtein = "*"
pillow = ">=8.1.1"

[dev-packages]
deduplicator = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-watch = "*"
flake8 = "*"

[requires]
python_version = "3.8"
